*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}
.container {
    display: grid;
    
    grid-template-rows: 100px 150px 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 400px;

    padding: 40px;
    border-radius: 20px;
    background-color: rgba(0, 255, 255, 0.718);
    box-shadow: 1px 1px 50px rgba(0, 255, 255, 0.3);
}

.box {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}
#word-display {
    font-size: 36px;
    grid-row: 1/2;
    grid-column: 1/3;
    color: black;
    padding: 50px;
    text-align: center;
}

.adivinhar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 2/3;
    grid-column: 1/3;
    margin-top: 10px;
    gap: 15px;
}

.contador {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-10%, -10%);
}

.tentativas {
    padding: 15px;
}
.letras {
    background-color:azure;
    padding: 10px;
    text-align: center;
}




#guesses-left {
    font-size: 18px;
}

#guess-input {
    border-color: transparent;
    width: 30px;
    font-size: 18px;
    margin-right: 10px;
    text-align: center;
}

#guess-button {
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    width: 50%;
    background-color: black;
    color: aqua;
    border: transparent;
    transition: all 0.2s ease-in-out;
}
#guess-button:hover {
    box-shadow: 0 0 15px aqua, inset 0 0 15px aqua;
    text-shadow: 0 0 15px aqua;
}

#message {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255,0,0);
    height: 30px;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    align-items: center;
    border-radius: 20px;
}